<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.niu.mapping.jscj.LiveMapper">

    <select id="getLive" resultType="Live">
        select * from lives where id = #{id}
    </select>

    <select id="getLives" resultType="Live">
        select * from lives
    </select>

    <insert id="insertLive" parameterType="Live">
        replace into lives(id, content, content_prefix, link, attribute, up_counts, down_counts, date)
        value (#{id}, #{content}, #{content_prefix}, #{link}, #{attribute}, #{up_counts}, #{down_counts}, #{date})
    </insert>

</mapper>